{
  "presets" : [
    "react",
    [
      "env",
      {
        "targets" : {
          "browsers" : "last 2 versions",
          "chrome" : "56"
        },
        "loose" : true,
        "modules" : false
      }
    ],
    "stage-1",
    "stage-2"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ] 
}
